<a href="https://colab.research.google.com/github/AlejRamos/Aprendiendo-Pandas/blob/main/Funcionalidad_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

"""
Estadísticas Descriptivas
"""

'\nEstadísticas Descriptivas\n'

In [2]:
df = pd.DataFrame(
    {
        "one": pd.Series(np.random.randn(3), index=["a", "b", "c"]),
        "two": pd.Series(np.random.randn(4), index=["a", "b", "c", "d"]),
        "three": pd.Series(np.random.randn(3), index=["b", "c", "d"]),
    }
)

df

        one       two     three
a -2.273123  0.696073       NaN
b -0.297245  1.434421 -1.063212
c  0.569885 -0.241053  0.899198
d       NaN  0.975329  2.490231

In [3]:
"""
Existen un monton de metodos para calcular estadísticas descripticas y otras
operaciones relacionadas en Series y DataFrame. Muchos de estos son agregaciones
es decir, el resultado es de una dimension, tales como sum(), mean() y 
quantile(), pero hay otros como cumsum() y cumprod(), que producen un objeto
del mismo tamaño.
Estos métodos toman un axis como argumento, pero los axis pueden ser
especificados por nombre o entero.
Para Series: No se necesitan axis
DataFrame: "index" (axis = 0, por default), "columns" (axis=1)
"""

print(df)
print()
#Para obtener el promedio de los indices de un DataFrame
print(df.mean(0))
print()
#Promedio de las columnas
print(df.mean(1))
print()
#Suma de columna o index
print(df.sum(1))
print()
#Quantile, Devuelve los valores en el cuantil dado sobre el eje solicitado
print(df.quantile())
print()
# Suma acumulativa
print(df.cumsum()) #Preserva la locacion de los NaN
print()
#Promedio acumulativo
print(df.cumprod()) #Preserva la locacion de NaN

        one       two     three
a -2.273123  0.696073       NaN
b -0.297245  1.434421 -1.063212
c  0.569885 -0.241053  0.899198
d       NaN  0.975329  2.490231

one     -0.666827
two      0.716193
three    0.775406
dtype: float64

a   -0.788525
b    0.024655
c    0.409343
d    1.732780
dtype: float64

a   -1.577050
b    0.073964
c    1.228030
d    3.465560
dtype: float64

one     -0.297245
two      0.835701
three    0.899198
Name: 0.5, dtype: float64

        one       two     three
a -2.273123  0.696073       NaN
b -2.570367  2.130494 -1.063212
c -2.000482  1.889441 -0.164014
d       NaN  2.864770  2.326217

        one       two     three
a -2.273123  0.696073       NaN
b  0.675674  0.998462 -1.063212
c  0.385056 -0.240683 -0.956039
d       NaN -0.234745 -2.380757

In [4]:
"""
Método usando skipna
Como su nombre intruye, skipna se utiliza para excluir los datos faltantes
NaN
"""

#El promedio usando skipna=False, por default True
print("\nUsando skipna=False no se se excluyen NaN\n",
      df.mean(axis=0, skipna=False))
#Ahora usando skipna = True
print("\nUsando skpna=True, se excluyen los NaN\n",
      df.mean(axis=0, skipna=True))

Usando skipna=False no se se excluyen NaN
 one           NaN
two      0.716193
three         NaN
dtype: float64

Usando skpna=True, se excluyen los NaN
 one     -0.666827
two      0.716193
three    0.775406
dtype: float64

In [5]:
"""
Combinando el comportamiento transmision/aritmetica podemos describir
varios procesos aritmeticos, tales como la estandarización
"""
#Es el método std() el encargado de estandarizar
print("La estandarización de columas es\n",
      df.std(1))
#Esta es la forma de hacer unitarip
ts_stand = (df - df.mean()) / df.std()

print(ts_stand.std())

print("\nEn el link\nhttps://pandas.pydata.org/docs/user_guide/basics.html#descriptive-statistics\npodemos encontrar una tabla con más opciones y su descripción")

La estandarización de columas es
 a    2.099538
b    1.279554
c    0.586834
d    1.071197
dtype: float64
one      1.0
two      1.0
three    1.0
dtype: float64

En el link
https://pandas.pydata.org/docs/user_guide/basics.html#descriptive-statistics
podemos encontrar una tabla con más opciones y su descripción

In [6]:
"""
Ultimas anotaciones de esta primer parte
"""
print("Nota: EN los cambios de métodos Numpy, como mean, std, y sum\n",
      "se excluyen por default Nas en las entradas de Series\n\n")

#Obtenemos el promedio usando método numpy
print("El promedio de la columna one usando np.mean() es:\n",
      np.mean(df["one"]))

#Antes de obtener el promedio, haremos la columna one un objeto numpy
print("Primero hacemos un objeto numpy a la columna one\n",
      df["one"].to_numpy(),
      "\nLuego obtenemos el promedio\n",
      np.mean(df["one"].to_numpy()))

"""
El metodo Series.nunique() retorna el noumpero de valores no-NaN
únicos en una Serie
"""
#Creamos una serie
series =pd.Series(np.random.randn(500))
#Hacemos NaN algunos valores
series[20:500] = np.nan
#Hacemos valores no-NaN 
series[15:20] = 5

print("\n\nAplicamos el método series.unique()\n",
      "La cantidad de valores no-NaN únicos son\n",
      series.nunique())

Nota: EN los cambios de métodos Numpy, como mean, std, y sum
 se excluyen por default Nas en las entradas de Series


El promedio de la columna one usando np.mean() es:
 -0.6668274007655981
Primero hacemos un objeto numpy a la columna one
 [-2.27312265 -0.29724471  0.56988516         nan]
Luego obtenemos el promedio
 nan


Aplicamos el método series.unique()
 La cantidad de valores no-NaN únicos son
 16

In [7]:
"""
Resumen de los datos: describe
Existe una función conveniente, conocida como describe() la cual
arroja un resumen estdístico de los datos, exluyendo por supuesto 
NaN.
"""

#Creamos una serie de número random
series1 = pd.Series(np.random.rand(500))
#El siguiente comando indica que, cada 4 elementos agregué un NaN
series1[::4] = np.nan

#Imprimimos el resumen de la Serie
print("La Serie contiene:\n",
      series1.describe())

#Por supuesto funciona también con DataFrame

frame = pd.DataFrame(np.random.randn(200, 5), 
                     columns=["a", "b", "c", "d", "e"])

frame[::5] = np.nan

#Imprimimos el resumen
print("\nEl DataFrame contiene\n",frame.describe(),
      "\n\nObserve que para DataFrame el resumen es por columna")
print("\n\nObservese que existe una cantidad de porcentajes,",
      "\nestos se pueden elegir a conveniencia")
print("\nLa serie contiene la siguiente información\n"
    ,series1.describe(percentiles=[0.10,0.50,0.80]))

La Serie contiene:
 count    375.000000
mean       0.465396
std        0.288831
min        0.002146
25%        0.216591
50%        0.445628
75%        0.679028
max        0.999301
dtype: float64

El DataFrame contiene
                 a           b           c           d           e
count  160.000000  160.000000  160.000000  160.000000  160.000000
mean    -0.037894   -0.009940    0.069927    0.067942    0.044162
std      0.999058    0.947672    0.994044    0.991305    1.066601
min     -2.588648   -2.392949   -2.211800   -2.281636   -2.401686
25%     -0.674679   -0.706961   -0.643810   -0.497617   -0.737831
50%      0.015488   -0.074408    0.034489    0.045896    0.058615
75%      0.648623    0.680074    0.800170    0.776995    0.775462
max      2.755566    2.312197    2.174907    2.557127    2.632330

Observe que para DataFrame el resumen es por columna


Observese que existe una cantidad de porcentajes,
estos se pueden elegir a conveniencia

La serie contiene la siguiente información
 count    375.000000
mean       0.465396
std        0.288831
min        0.002146
10%        0.079308
50%        0.445628
80%        0.761818
max        0.999301
dtype: float64

In [8]:
"""
describe, segunda parte
Para objetos no númericos, describe() nos otorga una resumen simple
del número único de de valores, y los más frecuentes.
"""

#Creamos una serie no númerica
s = pd.Series(["a", "a", "b", "b", "a", "a", np.nan, "c", "d", "a"])

#Imprimimos el resumen
print("El resumen de la serie s es\n",s.describe())

"""
Por otro lado, para objetos mixtos, describe() se restringe
a dar un resumen de columnas númericas, y en caso de no contar con ninguna
solo columnas categoricas 
"""

#Cramos un DataFrame mixto
frame = pd.DataFrame({"a": ["Yes", "Yes", "No", "No"], "b": range(4)})

#Imprimimos el resumen
print("\nEl resumen de un DataFrame mixto es:\n",
      frame.describe())

"""
Pero también podemos controlar el comportamiento en el caso de objetos
mixtos, a través de los argumentos include/exclude. También se puede
usar all.
"""

#Imprimamos el resumen de la columna no númerica
print("\nEL resumen del DataFrame de la columna no númerica es:\n",
      frame.describe(include=['object']))

#Imprimimos el resumen de la columa numérica
print("\nEl resumen del DataFrame de la columna númerica es:\n",
      frame.describe(include=["number"]))

#Imprimos el resumen de todo
print("El resumen total es:\n",
      frame.describe(include="all"))

El resumen de la serie s es
 count     9
unique    4
top       a
freq      5
dtype: object

El resumen de un DataFrame mixto es:
               b
count  4.000000
mean   1.500000
std    1.290994
min    0.000000
25%    0.750000
50%    1.500000
75%    2.250000
max    3.000000

EL resumen del DataFrame de la columna no númerica es:
           a
count     4
unique    2
top     Yes
freq      2

El resumen del DataFrame de la columna númerica es:
               b
count  4.000000
mean   1.500000
std    1.290994
min    0.000000
25%    0.750000
50%    1.500000
75%    2.250000
max    3.000000
El resumen total es:
           a         b
count     4  4.000000
unique    2       NaN
top     Yes       NaN
freq      2       NaN
mean    NaN  1.500000
std     NaN  1.290994
min     NaN  0.000000
25%     NaN  0.750000
50%     NaN  1.500000
75%     NaN  2.250000
max     NaN  3.000000

In [9]:
"""
Index de los valores min/max
Las funciones idxmin() y idxmax() en Series y DataFrame devuelve la etiqueta
del index del mínimo y máximo
"""

#Creamos una Serie
s1 = pd.Series(np.random.randn(5))

print("La serie\n",
      s1,
      "\nContiene sus valores mínimo y máximo respectivamente en:\n",
      (s1.idxmin(),s1.idxmax()))

#En el caso de un DataFrame lo hace por columnas y nos da la columna y el
#Label del index

#Creamos un DataFrame
df1 = pd.DataFrame(np.random.randn(5, 3), columns=["A", "B", "C"])

print("\nEl DataFrame\n",
      df1,
      "\nTiene sus valores mínimos en:\n",
      df1.idxmin(),
      "\ny sus valores máximos en:\n",
      df1.idxmax())

#Como se puede notar por default cálcula el valor en las columnas
#Se puede hacer por filas

print("\nLos valores máximos y mínimos por filas son:\n",
      df1.idxmax(axis=1),
      df1.idxmin(axis=1))
print("\n\nNOTA IMPORTANTE:\nEn caso de contener repetidas veces el mismo valor minimo o máximo, devuelve la posición del primero en aparecer")

La serie
 0    2.090953
1   -1.454188
2    0.121058
3    0.924267
4   -1.544451
dtype: float64
Contiene sus valores mínimo y máximo respectivamente en:
 (4, 0)

El DataFrame
           A         B         C
0 -0.279722 -0.543297 -0.709664
1 -0.299242 -1.004943  0.659440
2  0.733916  0.087827  0.964730
3 -0.873116  1.375934 -1.658871
4 -0.235013 -0.672751 -1.893825
Tiene sus valores mínimos en:
 A    3
B    1
C    4
dtype: int64
y sus valores máximos en:
 A    2
B    3
C    2
dtype: int64

Los valores máximos y mínimos por filas son:
 0    A
1    C
2    C
3    B
4    A
dtype: object 0    C
1    B
2    B
3    C
4    C
dtype: object


NOTA IMPORTANTE:
En caso de contener repetidas veces el mismo valor minimo o máximo, devuelve la posición del primero en aparecer

In [12]:
"""
Value counts (histogramming) / mode
El método value_counts() de Series y top-level calcula un histograma de
valores en array 1-D.
"""

#Creamos un array
data = np.random.randint(0, 7, size=50)

#Hacemos una Serie
s = pd.Series(data)
print("Usando el método value_counts se obtiene:\n",
      s.value_counts(),
      "\nNótese que se ordenan de mayor a menor conteo\n")

"""
El método también puede usarse en una combinación de columnas. Por default
todas las columnas son usadas pero un subset puede ser seleccionado usando
el argumento select
"""

data1 = {"a": [1, 2, 3, 4], "b": ["x", "x", "y", "y"]}

frame = pd.DataFrame(data1)

print("El conteo de un DataFrame de una combinación de columnas es:\n",
      frame.value_counts())

"""
Por supuesto, también se puede encontrar el valor más frecuente, es decir
la moda en una Serie o DataFrame
"""

#Creamos una serie con claros valores repetidos
s5 = pd.Series([1, 1, 3, 3, 3, 5, 5, 7, 7, 7])

print("\nLa moda de la Serie\n",
      s5,
      "\nes:\n",
      s5.mode(),
      "\nDado que tenemos dos valores cuya frecuencia es igual hay dos modas")

#Es turno de un DataFrame
df5 = pd.DataFrame(
    {
        "A": np.random.randint(0, 7, size=50),
        "B": np.random.randint(-10, 15, size=50),
    }
)

print("\n\nEL DataFrame:\n",
      df5.head(),
      "\nTiene por moda:\n",
      df5.mode())

Usando el método value_counts se obtiene:
 4    13
6    10
5     9
0     6
3     5
1     5
2     2
dtype: int64
Nótese que se ordenan de mayor a menor conteo

El conteo de un DataFrame de una combinación de columnas es:
 a  b
1  x    1
2  x    1
3  y    1
4  y    1
dtype: int64

La moda de la Serie
 0    1
1    1
2    3
3    3
4    3
5    5
6    5
7    7
8    7
9    7
dtype: int64
es:
 0    3
1    7
dtype: int64
Dado que tenemos dos valores cuya frecuencia es igual hay dos modas


EL DataFrame:
    A  B
0  3 -1
1  6 -2
2  4 -5
3  6  0
4  3 -9
Tiene por moda:
    A   B
0  5  12

In [20]:
"""
Discretización y Cuantización
Los valores continuos pueden ser discretizados con las funciones
cut() (bins basados en valores) y qcut() (bins basados en muestras de quantiles)

Utilice cut() cuando necesite segmentar y ordenar los valores de los datos
en contenedores. Esta función también es útil para pasar de una variable
continua a una variable categórica. Por ejemplo, el corte podría convertir 
las edades en grupos de edades. Admite el agrupamiento en un número igual 
de contenedores, o un conjunto predeterminado de contenedores.

qcut() Discretiza variable en cubos de igual tamaño basado en rango 
o basado en cuantiles de muestra. Por ejemplo, 1000 valores para 10 
cuantiles producirían un objeto categórico que indicaría la pertenencia 
a cuantiles para cada punto de datos.
"""

#
arr = np.random.randn(20)

factor = pd.cut(arr, 4)

print(factor)

factor = pd.cut(arr, [-5, -1, 0, 1, 5])

print(factor)

#calcula cuantiles de muestra. Por ejemplo, podríamos dividir algunos 
#datos normalmente distribuidos en cuartiles de igual tamaño como:"

arr = np.random.randn(30)

factor = pd.qcut(arr, [0, 0.25, 0.5, 0.75, 1])

print(factor,
      pd.value_counts(factor))

[(-0.406, 0.53], (0.53, 1.466], (0.53, 1.466], (-1.342, -0.406], (-0.406, 0.53], ..., (-0.406, 0.53], (-0.406, 0.53], (-1.342, -0.406], (-1.342, -0.406], (-0.406, 0.53]]
Length: 20
Categories (4, interval[float64, right]): [(-2.281, -1.342] < (-1.342, -0.406] < (-0.406, 0.53] <
                                           (0.53, 1.466]]
[(0, 1], (0, 1], (0, 1], (-1, 0], (0, 1], ..., (0, 1], (0, 1], (-5, -1], (-1, 0], (0, 1]]
Length: 20
Categories (4, interval[int64, right]): [(-5, -1] < (-1, 0] < (0, 1] < (1, 5]]
[(-0.0693, 0.635], (0.635, 1.637], (-2.194, -0.805], (-0.805, -0.0693], (0.635, 1.637], ..., (0.635, 1.637], (-0.805, -0.0693], (0.635, 1.637], (-0.805, -0.0693], (-2.194, -0.805]]
Length: 30
Categories (4, interval[float64, right]): [(-2.194, -0.805] < (-0.805, -0.0693] < (-0.0693, 0.635] <
                                           (0.635, 1.637]] (-2.194, -0.805]     8
(0.635, 1.637]       8
(-0.805, -0.0693]    7
(-0.0693, 0.635]     7
dtype: int64